<%= stylesheet_link_tag 'star_rating', :media => 'screen' %>
<h1><%= @title %></h1>
<br />
<div id="panel-section" class="round">
<b>Resume Name:</b> <%= @resume.name %><br />
Author: <%= link_to "#{@resume.user.name}", user_path(@resume.userid) %><br />
<% if current_user.id == @resume.userid %>
<%= link_to 'Edit Resume', edit_resume_path(@resume) %> | 
<%= link_to 'Delete Resume', @resume, :confirm => 'Are you sure?', :method => :delete %><br />
<% end %>
</div>

<br />
<br />


<% if !@usercurrentrating.blank? %>
Your Rating: 
	<ul class="star-rating">
	
	<% if @usercurrentrating.rating_score == 1 %>
	<li class="current-rating" style="width:20%;">Your Rating was 1/5 Stars.</li>
	<% elsif @usercurrentrating.rating_score == 2 %>
	<li class="current-rating" style="width:40%;">Your Rating was 2/5 Stars.</li>
	<% elsif @usercurrentrating.rating_score == 3 %>
	<li class="current-rating" style="width:60%;">Your Rating was 3/5 Stars.</li>
	<% elsif @usercurrentrating.rating_score == 4 %>
	<li class="current-rating" style="width:80%;">Your Rating was 4/5 Stars.</li>
	<% elsif @usercurrentrating.rating_score == 5 %>
	<li class="current-rating" style="width:100%;">Your Rating was 5/5 Stars.</li>
	<% else %>
	<li class="current-rating" style="width:0%;">Your Rating was 0/5 Stars.</li>
	<% end %>

	<li> <b></b> </li>
	<li><b></b></li>
	<li><b></b></li>
	<li><b></b></li>
	<li><b></b></li>
	</ul>
<% else %>
Rate Resume: 
	<ul class="star-rating">

	<li class="current-rating" style="width:0%;">Currently 0/5 Stars.</li>

	<li><a href="/newrating/<%= @resume.id %>/1" title="1 star out of 5" class="one-star">1</a></li>

	<li><a href="/newrating/<%= @resume.id %>/2" title="2 stars out of 5" class="two-stars">2</a></li>

	<li><a href="/newrating/<%= @resume.id %>/3" title="3 stars out of 5" class="three-stars">3</a></li>

	<li><a href="/newrating/<%= @resume.id %>/4" title="4 stars out of 5" class="four-stars">4</a></li>

	<li><a href="/newrating/<%= @resume.id %>/5" title="5 stars out of 5" class="five-stars">5</a></li>

</ul>
<% end %>

<br><b><%= link_to "Make a Comment", "/newcomment/#{@resume.id}", :class => "comment_button round" %></b>
<br />


<div id= "resume" class="round">

<u><h3>Resume Content</h3></u>
<br /><br />
<p>
<% @resumesection.each do |resumesection| %>

	<%= raw resumesection.section.content %><br />
<% end %>

<br />
</p>
</div>	



<br />
<br />

	
		 
	<div id = "rate" class="round">
	<u><h3>Ratings</h3></u>
		<% if !@rating.blank? %>
		
		<br />
		<% @rating.each do |rating| %>
		<div id = "panel-rating" class = "round">
			<u><%= rating.user.name %></u> : 
			
			
	<ul class="star-rating">
	
	<% if rating.rating_score == 1 %>
	<li class="current-rating" style="width:20%;">Your Rating was 1/5 Stars.</li>
	<% elsif rating.rating_score == 2 %>
	<li class="current-rating" style="width:40%;">Your Rating was 2/5 Stars.</li>
	<% elsif rating.rating_score == 3 %>
	<li class="current-rating" style="width:60%;">Your Rating was 3/5 Stars.</li>
	<% elsif rating.rating_score == 4 %>
	<li class="current-rating" style="width:80%;">Your Rating was 4/5 Stars.</li>
	<% elsif rating.rating_score == 5 %>
	<li class="current-rating" style="width:100%;">Your Rating was 5/5 Stars.</li>
	<% else %>
	<li class="current-rating" style="width:0%;">Your Rating was 0/5 Stars.</li>
	<% end %>

	<li> <b></b> </li>
	<li><b></b></li>
	<li><b></b></li>
	<li><b></b></li>
	<li><b></b></li>
	</ul>
			<% if current_user.id == rating.userid %> 
				<%= link_to 'Delete', rating, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
			</div><br /><br />
		<% end %>
		<% else %>
		
		There are no ratings for this resume yet.
		<br /><br /><br /><br />
		<% end %>
	</div>
	
	
	<div id= "comment" class = "round">
	<u><h3>Comments</h3></u>
		<% if !@comment.blank? %>
		
		<br />
		<% @comment.each do |comment| %>
		<div id = "panel-comment" class = "round">
			<%= comment.comment %><br />
			<b>Author:</b> <%= link_to "#{comment.user.name}", user_path(comment.user.id) %> <br />
			<% if current_user.id == comment.userid %>
				<u><%= link_to 'Edit', edit_comment_path(comment) %></u> | 
				<u><%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %></u>
			<% end %>
			</div>
			<br /><br />
		<% end %>
		
		<% else %>
		
		There are no comments for this Resume yet.
		<br /><br /><br /><br />
		<% end %>
	</div>
	
	
</div>



