<h1><%= @title %></h1>
<br />
<div id = "userres-wrapper">

<div id= "users-wrap">
	<div id= "users" class = "round">
		<h3>Search for User</h3>
		<% form_tag '/userresumes', :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search], :size => "20" %>
			<%= submit_tag "Search", :disable_with => "Searching..." %>
		</p>
		<% end %>
		<% if !params[:search].blank? %>
			<u>Results</u><br>
			<% @usersearch.each do |user| %>  
				<%= link_to "#{user.name}", "/userresumes/#{user.id}?utf8=✓&search=#{params[:search]}" %><br>	
			<% end %>
			<% if @usersearch.blank? %>
				No Results Found 
			<% end %>
		<% end %>
	</div>
<br>

	<div id= "users" class = "round">
		<h3>All Users</h3><br />
		<% @user.each do |user| %>
			<%= link_to "#{user.name}", "/userresumes/#{user.id}" %><br />
		<% end %>
	
	</div>
</div>

<div id="userres" class="round">
	<% if params[:id].blank? %>
		<br />
		Pick a User from the list on the left.
	<% end %>
	
	<% if !params[:id].blank? %>
		<h2><%= @title2 %></h2>
		<%= link_to "User Profile", "/users/#{@userselected.id}" %><br><br>
		
		<u><h3>Resumes</h3></u>
		<% @resume.each do |resume| %>
		<%= link_to "#{resume.name}", "/viewresume/#{resume.id}" %><br />
		<% end %>
		<% end %>
	
	<% if @resume.blank? && !params[:id].blank? %>
	
	This user does not have any resumes yet.
	<% end %>
</div>
<br /><br />
</div>
<br />





